<!DOCTYPE html>
<html lang="ko" translate="no" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="google" content="notranslate">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>header</title>
    </head>
    <body>
        <header th:fragment="my-header">
            <link rel="stylesheet" th:href="@{/assets/css/header.css}"/>
            <h1>학사관리</h1>
            <nav class="gnb">
                <a th:href="@{/department}">학과관리</a>
                <a th:href="@{/professor}">교수관리</a>
                <a th:href="@{/student}">학생관리</a>
            </nav>
        </header>
    </body>
</html>