<!DOCTYPE html>
<html lang = "ko" translate = "no">
    <head>
        <meta charset = "UTF-8">
        <meta name = "google" content = "notranslate" />
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>myview</title>
    </head>
    <body>
        <h1>03-Interceptor</h1>
        <h2>여기는 <span th:text="${where}"></span>입니다</h2>
        <ul>
            <li><a th:href="@{/}">index</a></li>
            <li><a th:href="@{/hello}">hello</a></li>
            <li><a th:href="@{/hi}">hi</a></li>
            <li><a th:href="@{/bye}">bye</a></li>
        </ul>
    </body>
    </html>