<!DOCTYPE html>
<html lang="ko" translate="no" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="google" content="notranslate">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>edit</title>
        <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    </head>
    <body>
        <header th:replace="~{fragments/header :: my-header}"></header>
        <h1>학과수정</h1>
        <form id="my-form" th:action="@{${'/department/edit_ok/' + department.id}}" method="post">
            <input type="hidden" name="_method" value="put"/>
            <table class="my-table item-table">
                <tbody>
                    <tr>
                        <th>학과명</th>
                        <td>
                            <div class="dname-container">
                                <input type="text" name="dname" id="dname" th:value="${department.dname}" placeholder="학과명을 입력하세요."/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>위치</th>
                        <td><input type="text" name="loc" id="loc" th:value="${department.loc}" placeholder="위치를 입력하세요."/></td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td><input type="text" name="phone" id="phone" th:value="${department.phone}" placeholder="전화번호를 입력하세요."/></td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td><input type="email" name="email" id="email" th:value="${department.email}" placeholder="이메일을 입력하세요."/></td>
                    </tr>
                    <tr>
                        <th>설립년도</th>
                        <td><input type="number" name="established" id="established" th:value="${department.established}" placeholder="설립연도를 입력하세요."/></td>
                    </tr>
                    <tr>
                        <th>홈페이지</th>
                        <td><input type="url" name="homepage" id="homepage" th:value="${department.homepage}" placeholder="홈페이지 URL을 입력하세요."/></td>
                    </tr>
                </tbody>
            </table>
            <div class="buttons">
                <button type="submit" class="mybutton blue">등록</button>
                <button type="reset" class="mybutton gray">초기화</button>
            </div>
        </form>

        <script>
            document.querySelector("#my-form").addEventListener("submit", function(e) {
                e.preventDefault();

                // 정규표현식을 사용한 입력값 형식 검사 수행(여기서는 생략)

                e.currentTarget.submit();
            });
        </script>
    </body>
</html>