/**
 * 모든 페이지에서 사용될 공통적인 내용을 정의하는 파일
 *

/*----------------------------------------------------------------
 * 변수 설정
 *----------------------------------------------------------------*/
 :root {
    --my-color-back: #000000;
    --my-color-dark-gray: #444444;
    --my-color-gray: #616161;
    --my-color-gray-op: #61616177;
    --my-color-light-gray: #eeeeee;
    --my-color-white: #f1f1f1;
    --my-color-black-op: #0000011;
    --my-color-green:#0f0;
 }


 /*----------------------------------------------------------------
 * 모든 태그에 대한 기본 스타일 설정
 *----------------------------------------------------------------*/

 * {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
 }


/*----------------------------------------------------------------
 * 링크에 대한 기본 설정
 *----------------------------------------------------------------*/

a {
    text-decoration:none;
    color:var(--my-color-back)
}


/*----------------------------------------------------------------
 * 상단 영역
 *----------------------------------------------------------------*/

.header {
    /** 작업하는 동안의 임시 적용 스타일 */
    /* background-color: #ff000055; */  /* <-----이거 주석으로 막음 */

    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;

    width: 100%;

    .menu {
        max-width: 1800px;
        margin: auto;
        display: flex;

        li {
            text-align: center;

            @media only screen and (mix-width: 992px) {
                width: 20%;
            }

            &:last-child {
                margin-left:auto;

                span {
                    display: none;

                    @media only screen and (max-width: 992px) {
                        display: flex;
                    }
                }
            }

            a {
                display: block;
                font-size: 18px;
                font-weight: 500;
                padding: 20px;

                &:hover {
                    background-color: var(--my-color-black-op);
                }

                span {
                    margin-left: 10px;
                    font-size: 17px;

                    @media only screen and (max-width: 992px) {
                        display: block;
                        margin-top: 5px;
                        margin-left: 0;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
        }


    }
}

/*----------------------------------------------------------------
 * 하단 영역
 *----------------------------------------------------------------*/


.footer {
    /** 작업하는 동안의 임시 적용 스타일 */
    /* background-color: #00ff0055; */

    background-color: var(--my-color-back);
    text-align: center;
    padding:50px 10px;

    .to-the-top {
        display: inline-block;
        background-color: var(--my-color-light-gray);
        padding: 10px 25px;
        font-size: 18px;
        color: var(--my-color-gray);
        margin-bottom: 10px;

        .i {
            margin-right: 10px;
        }

        &:hover {
            background-color: var(--my-color-green);
            color: var(--my-color-back);
        }
    }

    

    .social-list {
        display: flex;
        justify-content: center;

        a {
            color:var(--my-color-white);
            display: block;
            font-size: 35px;
            margin: 20px 10px 40px 10px;

            &:hover {
                color: var(--my-color-green);
            }
        }
    }

    address {
        color: var(--my-color-white);
        font-size: 18px;
    }
}