/** 모든 페이지에서 사용될 공통적인 내용을 정의 */

/*--------------------------------------------------------
 * 공통
 *--------------------------------------------------------*/
* {
    font-family: "Noto Sans KR";
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

/* header, main, footer  영역 안에서 내용의 넓이를 제한하는 박스 */
.content-container {
    max-width: 1200px;
    margin: auto;

    /** 작업하는 동안의 임시 적용 */
    background-color: #0002;
    font-size: 24px;
    padding: 25px;
}

/*--------------------------------------------------------
 * 상단 영역
 *--------------------------------------------------------*/
.header {
    /* 그림자 */
    box-shadow: 0 1px 3px #0003;

    /* 작업하는 동안의 임시 적용 */
    background-color: #f063;
}


 /*--------------------------------------------------------
 * 내용 영역
 *--------------------------------------------------------*/
.main {
    /* 작업하는 동안의 임시 적용*/
    background-color: #f603;
}


 /*--------------------------------------------------------
 * 하단 영역
 *--------------------------------------------------------*/
.footer {
    /* 상단 테두리로 구분선의 역할을 하도록 함 */
    border-top: 1px solid #dddddd;

    /* 작업하는 동안의 임시 적용 */
    background-color: #06f3;
}